.wp-block-hrscourses-courses-list {
	list-style-type: none;
	padding: 0;
}

.wp-block-hrscourses-courses-list li {
	color: var(--wp--custom--wsu-color-black--70);
	display: flex;
	flex-direction: column;
	margin-bottom: var(--wp--custom--typography--tiny);
	position: relative;

	& p {
		padding: 0;
	}
}

.wp-block-hrscourses-courses-list--heading {
	font-size: var(--wp--preset--font-size--medium);
	font-weight: 600;
	line-height: 1.2;
	margin: 0 0 0.25rem;

	& a {
		font-weight: inherit;
	}
}

.wp-block-hrscourses-courses-list--post-excerpt {
	font-size: var(--wp--preset--font-size--normal);
	line-height: 1.35;
}

.wp-block-hrscourses-courses-list--post-date {
	font-size: var(--wp--preset--font-size--small);
	font-weight: 600;
	line-height: 1.35;
	margin-top: auto;
}

.wp-block-hrscourses-courses-list--post-date::before {
	background-image: url(icons/event.svg);
	background-position: center 100%;
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
	display: inline-block;
	height: 1em;
	margin: 0 0.2em -0.1em 0;
	width: 1em;
}

.wp-block-hrscourses-courses-list:not(.is-grid) {

	& li:not(:first-of-type) {
		padding-top: 1em;
		border-top: 2px solid var(--wp--custom--wsu-color-black--5);
	}

	& .wp-block-hrscourses-courses-list--heading::before {
		border-left: 0.8rem solid var(--wp--preset--color--primary-crimson);
		content: "";
		display: inline-block;
		height: 0.8rem;
		padding-right: 8px;
		opacity: 0.6;
		transition: opacity 0.3s ease;
	}

	& .wp-block-hrscourses-courses-list--heading:hover::before,
	& .wp-block-hrscourses-courses-list--heading:focus::before {
		opacity: 1;
	}

	& .wp-block-hrscourses-courses-list--post-date,
	& .wp-block-hrscourses-courses-list--post-excerpt,
	& .wp-block-hrscourses-courses-list--post-full-content {
		padding-left: calc(0.8rem + 8px);
	}

	& .wp-block-hrscourses-courses-list.has-excerpt .wp-block-hrscourses-courses-list--post-date {
		margin-top: 0.5rem;
	}

	& .wp-block-hrscourses-courses-list.has-full-content .wp-block-hrscourses-courses-list--post-date {
		margin-top: 1rem;
	}

}

.wp-block-hrscourses-courses-list.is-grid {
	display: flex;
	flex-flow: row wrap;
	margin-left: -0.5rem;
	margin-right: -0.5rem;

	& li {
		background-color: var(--wp--preset--color--white);
		border: none;
		border-radius: 5px;
		box-shadow:
			0 1px 1px 0 rgba(66, 66, 66, 0.08),
			0 1px 3px 1px rgba(66, 66, 66, 0.16);
		flex-direction: column;
		min-height: 150px;
		max-width: 600px;
		overflow: hidden;
		margin: 0.5rem;
		padding: 1.5rem;
		transition: box-shadow 135ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
		width: 100%;

		&:hover,
		&:focus {
			box-shadow:
				0 1px 3px 1px rgba(66, 66, 66, 0.2),
				0 2px 8px 4px rgba(66, 66, 66, 0.1);

			& .wp-block-hrscourses-courses-list--post-date {
				background-color: var(--wp--custom--wsu-color-black--3);
			}
		}
	}

	& .wp-block-hrscourses-courses-list--heading {
		margin: 0;

		& a::after {
			background: none;
		}
	}

	& .wp-block-hrscourses-courses-list--post-excerpt {
		padding: 1em 0 0;
	}

	&.has-date .wp-block-hrscourses-courses-list--post-excerpt,
	&.has-date .wp-block-hrscourses-courses-list--post-full-content {
		margin-bottom: 1rem;
	}

	& .wp-block-hrscourses-courses-list--post-date {
		background-color: transparent;
		margin-bottom: -1.5rem;
		margin-left: -1.5rem;
		margin-right: -1.5rem;
		padding: 1.5rem 1rem 1.5rem 1.5rem;
		transition: background-color 0.3s ease;
	}

}

@media (min-width: 576px) {

	.wp-block-hrscourses-courses-list.is-grid,
	.wp-block-hrscourses-courses-list.is-grid.columns-1,
	.wp-block-hrscourses-courses-list.is-grid.columns-2,
	.wp-block-hrscourses-courses-list.is-grid.columns-3,
	.wp-block-hrscourses-courses-list.is-grid.columns-4,
	.wp-block-hrscourses-courses-list.is-grid.columns-5,
	.wp-block-hrscourses-courses-list.is-grid.columns-6 {

		& li {
			width: calc(100% / 2 - 4rem);
		}

	}

}

@media (min-width: 768px) {

	.wp-block-hrscourses-courses-list.is-grid.columns-3,
	.wp-block-hrscourses-courses-list.is-grid.columns-4,
	.wp-block-hrscourses-courses-list.is-grid.columns-5,
	.wp-block-hrscourses-courses-list.is-grid.columns-6 {

		& li {
			width: calc(100% / 3 - 4rem);
		}

	}

}

@media (min-width: 900px) {

	.wp-block-hrscourses-courses-list.is-grid.columns-4,
	.wp-block-hrscourses-courses-list.is-grid.columns-5,
	.wp-block-hrscourses-courses-list.is-grid.columns-6 {

		& li {
			width: calc(100% / 4 - 4rem);
		}

	}

}

@media (min-width: 1386px) {

	.wp-block-hrscourses-courses-list.is-grid.columns-5 {

		& li {
			width: calc(100% / 5 - 4rem);
		}

	}

	.wp-block-hrscourses-courses-list.is-grid.columns-6 {

		& li {
			width: calc(100% / 6 - 4rem);
		}

	}

}
