.wsuwp-courses-archive {

	& .taxonomy-description {
		max-width: 45em;
		padding-left: 2rem;
	}

	& .courses-archive-frontmatter {
		margin-right: 2rem;
		margin-left: 2rem;

		& h3 {
			font-size: var(--font-size-3);
		}

		& form {
			margin: 0;
			padding: 0;
		}

		& .search-form input[type="submit"] {
			padding: 0.4rem 1rem;
		}
	}

}
