@import "./global/_variables.css";
@import "./blocks/style.css";

svg.svg-icon {
	transition: fill 0.3s ease;
	fill: currentColor;
}

.wsuwp-courses-archive .taxonomy-description {
	padding-left: 2rem;
	max-width: 45em;
}
