@import "./global/_variables.css";
@import "./blocks/style.css";

svg.svg-icon {
	transition: fill 0.3s ease;
	fill: currentColor;
}

.wsuwp-courses-archive .courses-archive-frontmatter {
	background-color: var(--body-background-color);
	overflow: hidden;
	padding: 0 2rem;
}

.wsuwp-courses-archive .courses-archive-frontmatter h3 {
	font-size: var(--font-size-3);
}

.wsuwp-courses-archive .courses-archive-frontmatter .taxonomy-description {
	max-width: 45em;
}
